# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/

# Ignore log files
*.log

# Ignore configuration files
config.ini

# Ignore directories
glas_code/
test_files/
results/
myvenv/
tickets_ioc/
__pycache__/

# Ignore python files
tb_cred.py
config.py
mongo_craden.py

# Ignore test files
test_main.py
test_whitelist_file.py
test.py
main_temp.py

# Ignore data files
etp_intel_file.csv
etp_automation_results_data.csv
sps_automation_results_data.csv
sps_intel_file.csv
intel_file.csv
*.tsv
*.txt
*.gz
*.json